In [1]:
# In the Name of God

In [2]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv("housePrice.csv")

,Area,Room,Parking,Warehouse,Elevator,Address,Price,Price(USD)
0,63,1,True,True,True,Shahran,1.850000e+09,61666.67
1,60,1,True,True,True,Shahran,1.850000e+09,61666.67
2,79,2,True,True,True,Pardis,5.500000e+08,18333.33
3,95,2,True,True,True,Shahrake Qods,9.025000e+08,30083.33
4,123,2,True,True,True,Shahrake Gharb,7.000000e+09,233333.33

In [4]:
area_list = df["Area"].tolist()

for i in range(len(area_list)):
    area_list[i] = float(area_list[i].replace(',', ''))
    
room_list = df["Room"].tolist()

for i in range(len(room_list)):
    room_list[i] = float(room_list[i])

df.drop("Area", axis=1, inplace=True)
df["Area"] = area_list
df.drop("Room", axis=1, inplace=True)
df["Room"] = room_list
df = df[["Area", "Room", "Parking", "Warehouse", "Elevator", "Address", "Price", "Price(USD)"]]

In [5]:
df['Parking'] = df['Parking'].map({True: 'True', False: 'False'})
df['Warehouse'] = df['Warehouse'].map({True: 'True', False: 'False'})
df['Elevator'] = df['Elevator'].map({True: 'True', False: 'False'})

In [6]:
i = df[((df.Area >= 1000))].index
df = df.drop(i)

In [7]:
df['Address'].replace('', np.nan, inplace=True)
df.dropna(subset=['Address'], inplace=True)

In [8]:
df = df.reset_index(drop=True)

In [9]:
enc = preprocessing.OrdinalEncoder()
a = df.drop(["Area", "Room", "Price", "Price(USD)"], axis=1)
a_list = a.values.tolist()
enc.fit(a_list)
b = []

for i in range(len(a_list)):
    b.append(enc.transform([a_list[i]]))
             
c = []

for i in range(len(b)):
    d = b[i].tolist()
    c.append(d[0])

e = pd.DataFrame(c, columns =['Parking', 'Warehouse', 'Elevator', 'Address'])

df1 = df.drop(['Parking', 'Warehouse', 'Elevator', 'Address', 'Price', 'Price(USD)'], axis=1)

In [10]:
df1 = df1.reset_index(drop=True)

In [11]:
df2 = pd.concat([df1, e], axis=1, join='inner')

In [12]:
X = df2.copy()
y1 = df['Price']
y2 = df['Price(USD)']

In [13]:
X.dtypes, y1.dtypes, y2.dtypes

(Area         float64
 Room         float64
 Parking      float64
 Warehouse    float64
 Elevator     float64
 Address      float64
 dtype: object,
 dtype('float64'),
 dtype('float64'))

In [14]:
X1_train, X1_test, y1_train, y1_test = train_test_split(X, y1, test_size=0.35, random_state=0)


X2_train, X2_test, y2_train, y2_test = train_test_split(X, y2, test_size=0.35, random_state=0)

In [ ]:
from sklearn import linear_model
reg1 = linear_model.LinearRegression()
reg1.fit(X1_train, y1_train)
y1_ = reg1.predict(X1_)

In [ ]:
reg2 = linear_model.LinearRegression()
reg2.fit(X2_train, y2_train)
y2_ = reg1.predict(X2_)